############################
# Maven
############################
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties


*.log
!output/*.log

############################
# IntelliJ IDEA
############################
.idea/
*.iws
*.iml
*.ipr
out/

############################
# Eclipse
############################
.project
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

############################
# NetBeans
############################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

############################
# VS Code
############################
.vscode/

############################
# Mac OS
############################
.DS_Store

############################
# Archives / Packages
############################
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

############################
# Others
############################
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*
